<html>
    <body>
        <h1>This is Home.ejs</h1>
        <h1><%=name%></h1>
        <ol>
        <% info.forEach((item)=>{
            %>
        <li><%=item%></li>
         <%
        })
        %>
        </ol>
    </body>
</html>