<html>
    <body>
        <form action="/store" method="post">
        name:<input type="text" name="name" required/>
        Age:<input type="number" name="age" required/>
        <button>submit</button>
    </form>
    </body>
</html>