<html>
    <body>
        <table>
            <tr>
                <td>name</td>
                <td>age</td>
            </tr>
            <tr>
                <th><%=data.name%></th>
                <th><%=data.age%></th>
            </tr>
        </table>
        <a href="/deleteP/<%=data._id%>">delete</a>
    </body>
</html>