<html>
    <body>
        <form action="/delete" method="post">
            Enter the name you want to delete: <input type="text" name="delname" require/>
            <button>submit</button
        </form>
    </body>
</html>