<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        table{
            border-collapse: collapse;
            
        }
        tr{
            border: 2px solid black;
        }
        th{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    
    <table style="border:2px solid black">
        <tr >
            <th>name</th>
            <th>age</th>
        </tr>
        <% data.forEach((item)=>{%>
          <tr>
          <th><%=item.name%></th>
          <th><%=item.age%></th>
          </tr>
        <%})%>
    </table>
    <a href="/add">add more data</a>
    <a href="/deleteEndpoint">delete data</a>
    <a href="/updateEndpoint">update data</a>
    
</body>
</html>