<html>
    <body>
        <form action="/update" method="post">
            Enter the name you want to update:<input type="text" name="updateName" required/>
            Enter new Name:<input type="text" name="newName" required/>
            <button>submit</button>
        </form>
    </body>
</html>