<html>
    <body>
        <table>
            <tr>
                <td>Name</td>
                <td>Age</td>
            </tr>
            <tr>
                <th><%=data.name%></th>
                <th><%=data.age%></th>
            </tr>
        </table>
    </body>
</html>